.material-symbols-outlined{
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

html{
    background-image: url("darkgrey.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
h2{
    text-align: center;
}
body {
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Chivo';
}
.box{
    width: 320px;
    background-color: white;
    border-radius: 20px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.box .inputbox{
    position: relative;
}
.box .flex-container{
    position: relative;
}
.flex-container .down{
    margin-top: -11px;
    margin-left: 20px;
}
.flex-container{
    display: flex;
    margin-left: 5px;
}
.option{
    width: 50%;
    font-size: 20px;
}
.pwoption{
    padding-left: 8px;
    font-size: 20px;
}
input[type="checkbox"], input[type="radio"],
input[type="range"]{
    accent-color: grey;
}
.pw, .pwpin{
    margin-left: 11px;
    font-size: 20px;
}
.inputbox #copy{
    position: absolute;
    right: 18px;
    line-height: 53px;
    cursor: pointer;
    color: grey;
}
.flex-container #download{
    position: absolute;
    right: 30px;
    line-height: 53px;
    cursor: pointer;
    color: grey;
}

.slider {
    position: absolute;
    top: 4.4cm;
    left: 52%;
    transform: translate(-50%,-50%);
    width: 140px;
    height: 30px;
    padding: 2px;
    background: white;
    display: flex;
    align-items: center;
}
.slider p {
    font-size: 20px;
    font-weight: 600;
    font-family: Open Sans;
    padding-left: 10px;
    color: black;
}
.slider input[type="range"] {
    width: 100px;
    height: 2px;
    background: black;
    border: none;
    outline: none;
}
.slider input[type="range"]::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
    background: black;
    border: 2px solid black;
    border-radius: 70%;
    cursor: pointer;
}
.slider input[type="range"]::-webkit-slider-thumb:hover {
    background: black;
}
.inputbox input{
    width: 236px;
    height: 50px;
    font-size: 20px;
    border: 1px solid black;
    padding: 0 2.85rem 0 1rem;
    margin-left: 10px;
}
.btn1{
    width: 300px;
    padding: 0.95rem 0;
    color: white;
    margin: 15px 10px 10px 10px;
    background: grey;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
}
.btn2{
    width: 300px;
    padding: 0.95rem 0;
    color: white;
    margin: -5px 10px 10px 10px;
    background: grey;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
}
a{text-decoration: none;}

/*Pop up window*/
.overlay{
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    border-radius: 30px;
}
.overlay:target{
    visibility: visible;
    opacity: 1;
}
.wrap{
    margin: 70px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    width: 30%;
    max-height: 60%;
    overflow-y: scroll;
    position: relative;
    transition: all 1s ease-in-out;
}

.wrap h2{
    margin-top: 0;
}
.wrap .close{
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}
#ipw{
    font-size: 20px;
    font-family: 'Chivo';
}
.container button{
    float: right;
    background: red;
    padding: 0.3rem 0;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}
.btn-danger{
    width: 100px;
    color: white;
}
.btn-delall{
    width: 100%;
    color: white;
    align-content: center;
}
@media only screen and (max-width:810px){
    .wrap{
        width: 40%;
        transition: none;
    }
}
@media only screen and (max-width:610px){
    .wrap{
        width: 40%;
        transition: none;
    }
    .wrap h2{
        font-size: 18px;
    }
    #ipw{
        font-size: 14px;
    }
}
@media only screen and (max-width:525px){
    .wrap{
        width: 60%;
        transition: none;
    }
    .wrap h2{
        font-size: 18px;
    }
    #ipw{
        font-size: 14px;
    }
    .btn-danger{
        width: 70px;
    }
}
